.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que el modal esté por encima del resto del contenido */
}

.modal-content {
    background-color: #7bb1ee;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px; /* Ancho máximo del modal */
    width: 100%;
}

.modal-header {
    text-align: center;
    margin-bottom: 20px;
}

.modal-body {
    margin-bottom: 20px;
}

.modal-item {
    margin-bottom: 10px;
}

.modal-item label {
    display: block;
    margin-bottom: 5px;
}

.modal-item input {
    width: 100%;
    padding: 8px;
    border: 1px solid #63bce68e;
    border-radius: 5px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

.btn-cancel,
.btn-save {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-cancel {
    background-color: #ccc;
    color: #333;
}

.btn-save {
    background-color: #007bff;
    color: #fff;
}
.invalid {
    border: 1px solid red; 
    background-color: rgba(255, 0, 0, 0.171);
  }
  